@font-face {
  font-family: 'Poppins';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  font-style: normal;
  src: url('/fonts/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Poppins-Bold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 800;
  font-style: normal;
  src: url('/fonts/Poppins-ExtraBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  font-style: italic;
  src: url('/fonts/Poppins-BlackItalic.ttf');
}

:root {
  --border-color: #222;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: beige;
}

.brick-maker {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--border-color);
  border: solid 2px var(--border-color);
}

.brick-maker-bit {
  background-color: white;
  cursor: pointer;
  transition: background-color .15s;

  &[data-active="Y"] {
    background-color: var(--color);
  }
}

#app {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

h1 {
  text-align: center;
  line-height: 1;
  font-size: 28pt;
}

.buttons {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 10px;

  button {
    border: 0;
    padding: 10px 20px;
    background-color: magenta;
    color: white;
    font-weight: bold;
    font-size: inherit;
    border-radius: 4px;
    cursor: pointer;
  }
}
